*{
    margin: 0;
    padding: 0;
    color: white;
}

.signupLoginList{
    list-style-type: none;
    display: flex;
    gap: 10px;
}


.search_bar{
    height: 500px;
    display: flex;
    justify-content: center; 
    align-items: center;
    color:blue;
}