*{
    margin: 0;
    padding: 0;
    color: white;
}

body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signupLoginList{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.brand{
    display: flex;
}


.search_bar{
    height: 75vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.input_section{
    padding: 10px;
    border-radius: 25px;
    border: 2px solid blue;
    height: 40px;
    width:500px;
    color:black;
    outline-color: blue;
}

.search_button{
    border-radius: 25px;
    height: 40px;
    width: 100px;
    color:blue;
    background: white;
}

.search_button:hover{
    color: white;
    background: blue;
}

footer{
    color:black;
}

.footer{
    display: flex;
    justify-content: space-evenly;
}

a:link {
    text-decoration: none;
}

.result_card{
    min-height: 75vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

